@model GestaoColaboradores.Models.Colaborador.ColaboradorViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Colaborador</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input asp-for="Name" class="form-control mb-3" /> 
                <span class="text-danger"></span>

                <div class="mb-3">
                    <label>Unidade</label>
                    <select asp-for="Unidade" name="Unidade" class="form-control">
                        @foreach (var unidade in Model.Unidades)
                        {
                            <option value="@unidade.Id">@unidade.Name</option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label>Usuário</label>
                    <select asp-for="Usuario" name="Usuario" class="form-control">
                        @foreach (var usuario in Model.Usuarios)
                        {
                            <option value="@usuario.Id">@usuario.Login</option>
                        }
                    </select>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
