
@model IEnumerable<GestaoColaboradores.Models.Colaborador.UnidadeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Unidades</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Nome</p>
            </th>
            <th>
                <p>Colaboradores</p>
            </th>
            <th>
                <p>Status</p>
            </th>
            <th>                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Unidade.Name)
                </td>

                <td>
                    @foreach (var colaborador in item.Colaboradores)
                    {
                        <p>@colaborador.Name</p>
                    }
                </td>
                <td>
                    @if (item.Unidade.Active)
                    {
                        <a>Ativo</a>
                    }
                    else
                    {
                        <a>Inativo</a>
                    }

                </td>
                <td>
                    @if (item.Unidade.Active)
                    {
                        <a asp-action="ToggleActive" asp-route-id="@item.Unidade.Id" asp-route-currentstatus="true" class="btn btn-primary btn-danger">Desativar</a>
                    }
                    else
                    {
                        <a asp-action="ToggleActive" asp-route-id="@item.Unidade.Id" asp-route-currentstatus="false" class="btn btn-primary btn-success">Ativar</a>
                    }
                </td>
                
            </tr>
        }
    </tbody>
</table>
